.home{
    display: flex;
}

.loader {
	background: transparent;
	width: 25px;
	height: 25px;
	border-top: 4px solid rgba(151, 209, 248, 1);
	border-right: 4px solid rgba(151, 209, 248, 1);
	border-bottom: 4px solid rgba(151, 209, 248, 1);
	border-left: 4px solid #1da1f2;
	border-radius: 50%;
	animation: spin 1s ease infinite;
    margin: 50px auto 0px
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
